extends ../layout
include ./mixins

block content
  h2 #{title}
  hr

  .row
    .col-md-3
      .row
        .col-md-12
          div.organizations
            for o in organizations
              a(
                href='/projects/' + o.name,
                class=(current_org ? (o.name == current_org.name ? 'active' : 'hidden-xs hidden-sm') : undefined)
              )
                img(src=o.avatar_url)
                span.name #{o.name}
            if current_org
              a(
                href='/projects',
                class='hidden-md hidden-lg'
              )
                i.fa.fa-chevron-left
                span.name Select another organization

      +last-sync('/sync/organizations', 'synchronize your organizations', user.last_synchronized_at)
      if github_app_id
        .application-link.hidden-xs.hidden-sm
          | Is an organization missing?
          a(href=`https://github.com/settings/connections/applications/${github_app_id}`)
            | &nbsp;Review and add
          | &nbsp;your authorized organizations.

    if current_org
      div.col-md-9
        ul.repositories
          for r in repositories
            li(class=`repository${r.private ? ' is-private' : ''}`)
              .col-sm-10
                if r.enabled
                  +enabled-repository(r, current_org)
                else
                  +repository-name(r)

              .col-sm-2.hidden-xs.actions
                if r.enabled
                  form(
                    action=`/projects/${current_org.name}/${r.name}/pause`,
                    method='POST',
                    class='action'
                  )
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-warning
                      i.fa.fa-pause-circle-o
                      | pause
                else
                  form(
                    action=`/projects/${current_org.name}/${r.name}/enable`,
                    method='POST',
                    onsubmit='_paq.push([\'trackGoal\', 1]);'
                  )
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-success
                      i.fa.fa-play-circle-o
                      if r.github_hook_id
                        | reactivate
                      else
                        | enable
          else
            +no-repository

        +last-sync(
          `/sync/projects/${current_org.name}`,
          `synchronize ${current_org.name}'s repositories`,
          current_org.last_synchronized_at
        )

    else
      div.col-md-9
        +no-org-chosen
