mixin no-repository
  li.no-repository
    .panel-heading
      | No repositories
    .panel-body
      p.text-justify
        | It appears that you do not have any repositories in this organization yet,
        | or you may not have sufficient permissions (indeed, "admin" rights are needed
        | to enable a project).
        | You can also try to synchronize this organization again. Of course, you can
        | #[+contact-us] whenever you want.

mixin last-sync(url, text, last_synchronized_at)
  .last-sync
    form(action=url, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-link
        i.fa.fa-refresh
        | #{text}

      if last_synchronized_at
        span (last synced about #{moment(last_synchronized_at).fromNow()})

mixin no-org-chosen
  .panel.panel-default
    .panel-heading
      .fa.fa-hand-o-left.hidden-sm.hidden-xs
      .fa.fa-hand-o-up.visible-xs-inline.visible-sm-inline
      | Select an organization
    .panel-body
      p We have synchronized your GitHub organizations automatically.
      p Now, it is up to you to pick one in order to enable any of your projects you have (admin) access to.

mixin repository-name(r)
  p.repository-name
    | !{r.getIconSVG()}
    | &nbsp;
    | #[a(href=r.getURL(), title='Browse this project on GitHub') #{r.name}]
    | &nbsp;
    if r.enabled
      span.label.label-success
        | enabled by&nbsp;
        | #{r.enabled_by.login === user.github_login ? 'you' : r.enabled_by.login}
    else if r.github_hook_id
      | &nbsp;
      span.label.label-default paused

mixin enabled-repository(r, current_org)
  .row
    .col-xs-12
      +repository-name(r)

  .row
    .col-xs-12.hidden-xs.repository-configuration
      form(
        action=`/projects/${current_org.name}/${r.name}/configure`,
        method='POST',
        class='form-inline'
      )
        +feature-flag(true)
          .form-group.form-group-sm
            label(for='teams')
              | Teams:
            select(
              title='Default is: all'
              class='selectpicker',
              name='teams',
              data-live-search='true',
              multiple
            )
              for team in teams
                option(value=team.id, selected=r.getTeams().includes(team.id))
                  | #{team.name}

        .form-group.form-group-sm
          label(for='max-reviewers')
            | Max reviewers:
          input(
            name='max',
            value=r.max_reviewers,
            type='number',
            min=1,
            class='form-control max-reviewers-input',
            id='max-reviewers'
          )

        input(type='hidden', name='_csrf', value=_csrf)
        button(type='submit', class='btn btn-default btn-sm')
          i.fa.fa-wrench
          | save
