extends ../layout

mixin card(value, text, icon, style)
  .col-lg-3.col-md-6
    div(class=`panel panel-${style ? style : 'default'}`)
      .panel-heading
        .row
          .col-xs-3
            i(class=`fa fa-${icon} fa-5x`)
          .col-xs-9.text-right
            h2
              if isNaN(value)
                | #{value || 'n/a'}
              else
                | #{value < 1e5 ? value : d3Format.format('.5s')(value)}
            div #{text}

block content
  h2 #{title}
  hr

  h3 Projects
  .row
    +card(nbRepos, 'projects', 'code-fork')
    +card(nbReposEnabled, 'projects enabled', 'check-circle-o', 'primary')

  h3 Users
  .row
    +card(nbUsers, 'users', 'users')
    +card(nbUsersWithPrivateAccess, 'users with private repos', 'lock')
