extends ../layout

block content
  h2 #{title}
  hr

  div.row
    div.col-md-3
      .row
        .col-md-12
          div.organizations
            a(
              href=`/repositories/${user.github_login}`,
              class= user.github_login == current_org_name ? 'active' : ''
            )
              img(src=user.profile.picture)
              span.name #{user.github_login}

            for o in organizations
              a(
                href='/repositories/' + o.name,
                _lass= o.name == current_org_name ? 'active' : ''
              )
                img(src=o.avatar_url)
                span.name #{o.name}

      .last-sync
        form(action='/sync/organizations', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          button.btn.btn-link
            i.fa.fa-refresh
            | synchronize your organizations

          if user.last_synchronized_at
            span (last synced about #{moment(user.last_synchronized_at).fromNow()})

    if current_org
      div.col-md-9
        ul.repositories
          for r in repositories
            li.repository
              div.name
                if r.enabled
                  .row
                    .col-xs-4
                      | #{r.name}
                      | &nbsp;
                      span.label.label-success ENABLED

                    .col-xs-8
                      form(
                        action=`/repositories/${current_org.name}/${r.name}/configure`,
                        method='POST',
                        class='form-inline pull-right'
                      )
                        div.form-group.form-group-sm
                          label(for='max-reviewers')
                            | Max reviewers:
                          input(
                            name='max',
                            value=r.max_reviewers,
                            type='number',
                            min=1,
                            class='form-control max-reviewers-input',
                            id='max-reviewers'
                          )

                        .checkbox
                          label
                            input(name='skip', type='checkbox', checked=r.skip_wip)
                            |&nbsp;Skip&nbsp;
                            abbr(title='Work In Progress')
                              | WIP

                        input(type='hidden', name='_csrf', value=_csrf)
                        button(type='submit', class='btn btn-default btn-sm')
                          i.fa.fa-wrench
                          | save

                else
                  | #{r.name}

                  if r.github_hook_id
                    | &nbsp;
                    span.label.label-default PAUSED

              div.actions
                if r.enabled
                  form(action=`/repositories/${current_org.name}/${r.name}/pause`, method='POST', class='action')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-warning
                      i.fa.fa-pause-circle-o
                      | pause
                else
                  form(action=`/repositories/${current_org.name}/${r.name}/enable`, method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-success
                      i.fa.fa-play-circle-o
                      if r.github_hook_id
                        | restart
                      else
                        | start
          else
            li.no-repository
              .panel-heading
                | No repositories
              .panel-body
                | It appears that you don't have any repositories in this organization yet,
                | or you may not have sufficient permissions. Contact us if you think it is
                | an error.

        .last-sync
          form(action=`/sync/repositories/${current_org.name}`, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-link
              i.fa.fa-refresh
              | synchronize #{current_org.name}'s repositories

            if current_org.last_synchronized_at
              span (last synced about #{moment(current_org.last_synchronized_at).fromNow()})
