mixin feature-flag(enabled)
  if !!enabled
    block

mixin project-name(emphasis)
  if emphasis == false
    | Assignees
  else
    em Assignees

mixin contact-us(withIcon)
  a(href='mailto:support@assignees.io', class='btn btn-link contact-us')
    if withIcon !== false
      i.fa.fa-life-ring
    | contact us

mixin sign-in
  form(action='/auth/github', method='GET', class='call-for-action sign-in')
    button(type='submit')
      i.fa.fa-github
      | Sign in with GitHub
    +feature-flag(false)
      .checkbox
        label
          input(type='checkbox', name='private', checked=true)
          | Include #[strong private repositories]

mixin analytics
  script(type='text/javascript')
    | var _paq = _paq || [];
    if user
      | _paq.push(['setUserId', '#{user.getUsername()}']);
    | _paq.push(['trackPageView']);
    | _paq.push(['enableLinkTracking']);
    | (function() {
    |   var u="//analytics.tailordev.fr/";
    |   _paq.push(['setTrackerUrl', u+'piwik.php']);
    |   _paq.push(['setSiteId', '7']);
    |   var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    |   g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    | })();
